export TERRAFORM_PROVIDER_SOURCE := Twingate/twingate
export TERRAFORM_PROVIDER_REPO := https://github.com/Twingate/terraform-provider-twingate
export TERRAFORM_PROVIDER_VERSION := 0.2.4
export TERRAFORM_PROVIDER_DOWNLOAD_NAME := terraform-provider-twingate
export TERRAFORM_NATIVE_PROVIDER_BINARY := terraform-provider-twingate_0.2.4_x5
export TERRAFORM_DOCS_PATH := docs/resources